.carousel .list .item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    pointer-events: none;
}
.carousel .list .item .content{
    left: 40rem;
}
.carousel .list .item .buttons{
    display: grid;
    grid-template-columns: repeat(2, 130px);
    grid-template-rows: 40px;
    gap: 5px;
    margin-top: 20px;
}

.play::before { 
    background: inherit;
    border-radius: 5% / 50%;
    bottom: 9%;
    content: "";
    left: -5%;
    position: absolute;
    right: -5%;
    top: 9%;
  }
  .play::after {
    border-style: solid;
    border-width: 1em 0 1em 1.732em;
    border-color: transparent transparent transparent rgba(255, 255, 255, 0.75);
    content: ' ';
    font-size: 0.75em;
    height: 0;
    margin: -1em 0 0 -0.75em;
    top: 50%;
    position: absolute;
    width: 0;
  }
 
/* animation text items */
.carousel .list .item .content .title,
.carousel .list .item .content .topic,
.carousel .list .item .content .des,
.carousel .list .item .content .buttons
{
    transform: translateY(50px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent .5s 1s linear 1 forwards;
}
@keyframes showContent{
    to{
        transform: translateY(0px);
        filter: blur(0px);
        opacity: 1;
    }
}
.carousel .list .item .content .title{
    animation-delay: 1.2s!important;
}
.carousel .list .item .content .topic{
    animation-delay: 1.4s!important;
}
.carousel .list .item .content .des{
    animation-delay: 1.6s!important;
}
.carousel .list .item .content .buttons{
    animation-delay: 1.8s!important;
}
/* create animation when next click */
.carousel.next .list .item img{
    width: 150px;
    height: 220px;
    position: absolute;
    bottom: 5px;
    left: 50%;
    border-radius: 30px;
    animation: showImage .7s linear 1 forwards;
}
@keyframes showImage{
    to{
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
}

@media screen and (max-width: 678px) {
    /* thumbail */
.thumbnail{
    position: absolute;
    bottom: 1em;
    left: 1em;
    width: max-content;
    z-index: 10;
    display: flex;
    gap: 0.7em;
}
.thumbnail .item{
    width: 5%;
    height: 17em;
    flex-shrink: 0;
    position: relative;
}
.thumbnail .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}
.thumbnail .item .content .title{
    display: none;
}
.play { 
    font-size: 1.5em; /* change this to change size */
    height: 3em;
    margin: 20px auto;
    position: absolute;
    transition: all 150ms ease-out;
    width: 4em;
    left: 25rem;
    top: 3rem;
  }
  .arrows{
    top: 3rem;
    left: -5%;
    width: 300px;
    max-width: 30%;
    gap: 10px;
    align-items: center;
}
.arrows button{
    height: 200px;
}
.carousel .list .item .content{
    top: 5rem;
    height: 70%;
    left: 17rem;
    font-weight: 400;
}
.carousel .list .item .title,
.carousel .list .item .topic{
    font-weight: bold;
    line-height: 1.7em;
    font-size: 3em;
}
#topic{
    font-size: 1.5em;
}
.carousel .list .item .topic,
.topic{
    color: #f1683a;
}
.carousel.prev .list .item .content .title,
.carousel .list .item .content .title,
.title{
}
@keyframes outFrame{
    to{
        width: 150px;
        height: 220px;
        bottom: 50px;
        left: 5%;
        border-radius: 20px;
    }
}
.carousel.next .list .item img{
    width: 150px;
    height: 220px;
    position: absolute;
    bottom: 5px;
    left: 5%;
    border-radius: 30px;
    animation: showImage .7s linear 1 forwards;
}
@keyframes showImage{
    to{
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
}
}