body{
  overflow-x: hidden;   
}
.background {
  background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url('/image/solutions/solutionsBGImg.webp');
}

 .yellow-underline {
    text-decoration-color: #f8b400;
}