body{
    overflow-x: hidden;   
}
.parallax {
    background-image: url(/image/1.png);
}
.imageObjects{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-position: right;
    background-size: cover;
}
.imageObjects:nth-child(1) {
    background-image: url();
}
.imageObjects:nth-child(2) {
    background-image: url();
    background-size: 13% 39%;
    background-repeat: no-repeat;
    top: -30%;
    left: -30%;
}
.imageObjects:nth-child(3) {
    background-image: url(/image/OilRigs.png);
    background-size: 63% 62%;
    background-repeat: no-repeat;
    top: 20%;
    left: -30%;
}
.imageObjects:nth-child(4) {
}
.imageObjects:nth-child(5) {
    background-image: url(/image/Workers.png);
    background-size: 45% 63%;
    background-repeat: no-repeat;
    top: 15%;
    left: -15%;
    z-index: 1;
}
.imageObjects:nth-child(6) {
    background-image: url();
    background-size: 13% 22%;
    background-repeat: no-repeat;
    top: 25%;
    left: -2%;
}
.imageObjects:nth-child(7) {
    background-image: url(/image/Building.png);
    background-size: 75% 100%;
    //background-size: 1000px 700px;
    background-repeat: no-repeat;
    top: 8%;
    left: 13%;
}
