body{
    background: linear-gradient(to left, blue, lightblue);
    height: 100vh;
}

.emailBox:hover > .textBox, .textBox:focus{
    width: 260px;
    padding: 0 10px;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
    .container {
       padding: 100px 20px;
    }
   
    .container h1 {
       width: 100%;
       font-size: 30px;
    }
   
    .container p {
       max-width: 80%;
       font-size: 14px;
    }
   
    .emailBox {
       height: 40px;
    }
   
    .emailBox i {
       width: 40px;
       font-size: 20px;
       line-height: 40px;
    }
   
    .textBox {
       width: 100%;
       padding: 0 10px;
    }
   
    .btn {
       padding: 0 10px;
    }
   }