.contact{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(to left, blue, lightblue);
    background-size: cover;
}
.contact .content {
    max-width: 850px;
    text-align: center;
    padding-bottom: 50px;
}
.contact .content h2{
    font-size: 40px;
    font-weight: 500;
    color: #fff;
}
.contact .contact p{
    font-weight: 300;
    color: #fff;
    font-size: 20px;
}
.container{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.container .contactInfo {
    width: 50%;
    display: flex;
    flex-direction:column;
    gap: 15px;
}
.container .contactInfo .box{
    position: relative;
    padding: 2px 0;
    display: flex;
    width: 50%;
    padding-bottom: 15px;
    background-color:rgba(0,  70,  104,  0.7);
    border-radius: 10px;
    gap: 10px;
    
}
.contactInfo .box:hover{
    background-color: #00bcd4;
    color: #fff;
}
.contactInfo .box:hover .text h3{
    color: #00bcd4;
    background-color: #00bcd4;
}
.contactInfo .box .icon{
    min-width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
    color: #222;
}

.contactInfo .box::before{
    font-family: FontAwesome;
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    overflow: hidden;
    transition: 0.5s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
}
.contactInfo .box:nth-child(1)::before{
    content: "\f041";
    color: #d8504d;
    border-bottom: 4px solid #d8504d;
    min-width: 60px;
}
.contactInfo .box:nth-child(2)::before{
    content: '\f095';
    color: green;
    border-bottom: 4px solid green;
    min-width: 60px;
}
.contactInfo .box:nth-child(3)::before{
    content: '\f0e0';
    color: gold;
    border-bottom: 4px solid gold;
    min-width: 60px;
}
.contactInfo .box:nth-child(4)::before{
    content: '\f232';
    color: #25d366;
    border-bottom: 4px solid #25d366;
    min-width: 60px;
}
.contactInfo .box:nth-child(5)::before{
    content: '\f2c6';
    color: #0088cc;
    border-bottom: 4px solid #0088cc;
    min-width: 60px;
}
.contactInfo .box:hover::before{
    min-width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #fff;

}
.container .contactInfo .box .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;
}
.contactForm {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    margin-top: -150px;
    padding: 25px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.contactForm h2 {
    text-align: center;
    margin-bottom: 20px;
}

.contactForm .inputBox {
    position: relative;
    margin-bottom: 20px;
}

.contactForm .inputBox input,
.contactForm .inputBox textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
}

.contactForm .inputBox textarea {
    resize: none;
    height: 100px;
}
.contactForm .inputBox span{
    position: absolute;
    left: 10px;
    background: #fff;
    padding: 10px -10px;
    font-size: 16px;
    margin: -14px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #665
}
.contactForm .inputBox input:focus ~ span
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span
{
color: #e91e63;
font-size: 12px;
transform: translate(-20);
}

.contactForm .inputBox input[type="submit"] {
    background: #00bcd4;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background 0.3s ease;
}

.contactForm .inputBox input[type="submit"]:hover {
    background: #0097a7;
}
.inputBox h3{
    color: #00bcd4;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
    text-align: center;
}
.radioContainer {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    gap: 30%;
}

.radioContainer input[type="radio"] {
    margin-right: 5px;
}

.inputPhone {
    display: flex;
    justify-content: space-between;
}
.prefix {
    width: 23%; 
}
.number {
    width: 73%; 
}
.titleWrapper {
    padding: 10px;
    text-align: center;
}

@media (max-width: 991px){
    body{
    overflow: auto;
    }
    .contact {
        padding: 20px;
    }
    .container{
        flex-direction: column;
        background-color: rgba(0,  70,  104,  0.7);
        border-radius: 10px;
        padding: 20px;
    }
    .container .contactInfo{
        margin-bottom: 40px;
        
    }
    .container .contactInfo{
        width: 100%
    }
    .contactForm{
        width: 100%;
        margin-top: 10px;
    }
    .container .contactInfo .box{
        width: 100%;
        background-color: rgba(0,  0,  0,  0.0);
    }
    .container .contactInfo .box .text{
        margin-left: 20px;
        font-size: 18px;
        font-weight: 500;
    }
}

.toast {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: green;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

.toast.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}